
/**
 * Fix user-agent
 */

* {
    box-sizing: border-box;
}

.whiteboard-container {
}

/**
 * Canvas
 */

.whiteboard {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: solid 1px black;
    border-radius: 4px;
}

.color {
    display: inline-block;
    height: 38px;
    width: 38px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

.btn-margin {
    margin: 0 4px 0 4px;
}

.canvas-margin {
    margin-left: 20px;
}

.paragraph {
    padding: 20px 0 0 20px;
}

.mouse-tracker {
    position: relative;
    height: 200px;
    border: solid 1px grey;
    border-radius: 4px;
}

.center-title {
    width: 200px;
}

.block-spacer {
    padding: 0 20px 20px 20px;
}

.game-box-size {
    width: 600px;
    margin: 20px;
}

.pointer {
    cursor: pointer;
}

.circle {
    width: 100px;
    height: 100px;
    /*background: #17a2b8;*/
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

.circle > img {
    -webkit-filter: invert(1);
    filter: invert(1);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grey-layer {
    background-color: gray;
    top: 50px;
    left: 50px;
    padding: 10px;
    opacity: .2;
    z-index: 9;
}